<div class="jumbotron">
    <h1>Genis Dance Studio</h1>
    <p class="lead">Welcome to Genis Dance Studio Web Page. You can check our classes or instructor informations here</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Classes</h2>
        <p>
            Genis dance studio has enlarge social dance classes which includes salsa,bachata
            and kizomba. We have classes only during weekdays and practices during weekend.
            You can easily find which classes are appropraite for you and then make reservation.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301870">Classes &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>The instructor staff</h2>
        <p>Our proffessional insturctor staff who expert in the field of dance make sure that you are enjoying to learning and improving yourself</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301871">Instructors &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Studios</h2>
        <p>You can easily find a studio which is near to your home and will be your second home</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301872">Studios &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Dance Styles</h2>
        <p>More info about dance styles</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301872">Information &raquo;</a></p>
    </div>
</div>
